{% extends 'admin/components/__list.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <a href="/gallery/create/">
                        <button type="button" class="btn bg-blue btn-lg waves-effect" data-toggle="modal">Tambah</button>
                    </a>                        
                    <!-- <button type="button" class="btn bg-blue btn-lg waves-effect" data-toggle="modal" data-target="#largeModal1">Tambah Corousel</button> -->
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="dt-gallery" class="table table-striped table-bordered">                                    
                            <thead>
                                <tr>
                                    <th>Deskripsi</th>
                                    <th   style="width: 25%;">Image</th>  
                                    <th>Action</th>                                         
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="row clearfix">
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="top: 100px; left: 100px;">
                        <div class="header">
                            <h2>    
                                Tambah Gallery
                            </h2>
                        </div>
                        <div class="body">
                            <form class="form-horizontal" method="POST"  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">Deskripsi</label>
                                    </div>
                                    <div class="col-lg-10 col-md-6 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{form.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">Images</label>
                                    </div>
                                    <div class="col-lg-10 col-md-6 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{form.image}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary waves-effect">Submit</button>&nbsp;&nbsp;
                                        <a href="/gallery">
                                            <button type="button" class="btn bg-indigo waves-effect">Back</button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="largeModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="row clearfix">
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="top: 100px; left: 100px;">
                        <div class="header">
                            <h2>    
                                Tambah Gallery Utama
                            </h2>
                        </div>
                        <div class="body">
                            <form class="form-horizontal" method="POST"  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">Deskripsi</label>
                                    </div>
                                    <div class="col-lg-10 col-md-6 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{form.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">Images</label>
                                    </div>
                                    <div class="col-lg-10 col-md-6 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                {{form.image}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary waves-effect">Submit</button>&nbsp;&nbsp;
                                        <a href="/gallery">
                                            <button type="button" class="btn bg-indigo waves-effect">Back</button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}