{% extends 'admin/components/__list.html' %}
{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header action-top">                                            
                    <!-- <button type="button" class="btn bg-deep-orange btn-lg waves-effect" data-toggle="modal" data-target="#largeModal">Export</button> -->
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="dt-comment" class="table table-striped table-bordered">                                    
                            <thead>
                                <tr>
                                    <th>Email</th>                                      
                                    <th>Comments</th> 
                                    <th>Action</th>                                         
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}