{% extends 'user/components/main.html' %}
{% load static %}
{% block content %}  
        <div class="site-block-wrap" id="beranda">        
            <div class="owl-carousel with-dots">
                {% for data in gallerys|slice:":5" %}
                    <div class="site-blocks-cover overlay overlay-2" style="background-image: url('{{ MEDIA_URL }}{{ data.image }}');" data-aos="fade" id="home-section">
                        <div class="container">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-6 mt-lg-5 text-center">
                                    {% for datain in profiles %}
                                        <h1 class="text-shadow">{{datain.name}}</h1>
                                    {% endfor %}
                                    <p class="mb-5 text-shadow">{{data.deskripsi}}</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                {% endfor %}  
            </div>           
        </div> 
        <section class="site-section ">
            <div class="container">            
                <div class="row large-gutters">
                    <div class="col-lg-6 mb-5">      
                        <div class="owl-carousel slide-one-item with-dots">
                            <div><img src="{% static 'WebProfile/images/logo.png' %}" alt="Image" class="img-fluid"></div>
                        </div>      
                    </div>
                    <div class="col-lg-6 ml-auto">                  
                        <h2 class="section-title mb-3">Sejarah Sekolah</h2>
                        <p class="lead">MI KH MOHAMMAD SAID adalah Madrasah kedua yang bertempat di desa dadapan wajak. 
                        Pada tahun 2016 Madrasah ini mulai dibangun dengan 3 ruangan, dan diresmikan menjadi MI KH MOHAMMAD SAID dibawah naungan Yayasan Pendidikan KH MOHAMMAD SAID siswa pertama berjumlah 10 anak dan 4 guru.
                        Dan pada tahun 2019 ini jumlah siswa 16 anak, dan jumlah keseluruhan 26 siswa.</p>                      
                        <h2 class="section-title mb-3">Motto Sekolah</h2>
                        <p class="lead">Berbudi tinngi, Berbadan sehat, Berpengetahuan luas. </p>                  
                    </div>
                </div>
            </div>
        </section>	
        <section class="site-section testimonial-wrap">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3">Visi dan Misi Madrasah<h2>
                        <hr style="width: 75%;">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="ftco-testimonial-1">
                            <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                                <div>
                                    <h3>Visi Sekolah</h3>
                                </div>
                            </div>
                            <div>
                                <p> Terwujudnya generasi yang Bertaqwa, Qur'an, Berilmu, Mandri, Peduli, dan Berakhlakul Karimah.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="ftco-testimonial-1">
                            <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                                <div>
                                    <h3>Misi Sekolah</h3>
                                </div>
                            </div>
                            <div>
                                <ul class="list-unstyled ul-check success">
                                    <li>Mengatarkan siswa siswi memiliki kemantapan aqidah yang kuat.</li>
                                    <li>Membentuk siswa siswa berjiwa Al - Qur'an</li>
                                    <li>Memberikan pelayanan terhadap siswa siswi dengan pemahaman ilmu pengetahuan</li>
                                    <li>Menghasilkan generasi yang mandiri</li>
                                    <li>Menghasilkan generasi yang peduli</li>
                                    <li>Membentuk generasi yang berakhlakul karimah atas dasar - dasar nilai agama dan budaya agama luhur bangsa.</li>
                                </ul>                      
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <section class="site-section" id="struktur-section">
            <div class="container">
                <div class="row large-gutters">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3" style="margin-top: 10px;">Struktur </h2>
                        <hr style="width: 75%;">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                {% for datain in profiles %}
                                    <img src="{{ MEDIA_URL }}{{ datain.image }}"  style="width: 50%; height: 500px;" alt="Image" class="mx-auto d-block">
                                {% endfor %}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
        <section class="site-section" id="berita-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3" style="margin-top: 10px;">Berita</h2>
                        <hr style="width: 75%;">
                    </div>
                </div>
                <div class="row">
                    {% for data in eventss %}     
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                        <div class="h-entry">
                            <a href="{{ data.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ data.image }}"  style="height: 300px; width: 500px;" alt="Image" class="img-fluid"></a>
                            <h2 class="font-size-regular">{{data.judul}}</h2>
                            <div class="meta mb-4">{{data.deskripsi|safe|truncatewords:"10"|linebreaks}}</div>
                            <a href="{{ data.get_absolute_url }}">read more</a>
                        </div> 
                    </div>   
                    {% endfor %}                                     
                </div>
            </div>
        </section>              
{% endblock %}