{% extends 'admin/components/__list.html' %}
{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header action-top">          
                    <a href="/prestasi/create/">
                        <button type="button" class="btn bg-blue btn-lg waves-effect">Tambah</button>
                    </a>              
                    <!-- <button type="button" class="btn bg-deep-orange btn-lg waves-effect" data-toggle="modal" data-target="#largeModal">Export</button> -->
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="dt-prestasi" class="table table-striped table-bordered">                                    
                            <thead>
                                <tr>
                                    <th>Prestasi</th>                                                                            
                                    <th>peraih</th>
                                    <th>Juara</th> 
                                    <th>Action</th>  
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}