{% load static %}        
        <link rel="icon" href="{% static 'WebProfile/images/logo.png' %}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">        
        <link rel="stylesheet" href="{% static 'Admin/plugins/bootstrap/css/bootstrap.css' %}">   
        <link rel="stylesheet" href="{% static 'Admin/plugins/node-waves/waves.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/morrisjs/morris.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/css/themes/all-themes.css' %}">        
        <link rel="stylesheet" href="{% static 'Admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}">                
        <link rel="stylesheet" href="{% static 'Admin/plugins/light-gallery/css/lightgallery.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/multi-select/css/multi-select.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/jquery-spinner/css/bootstrap-spinner.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/bootstrap-select/css/bootstrap-select.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/dropzone/dropzone.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/css/style.css' %}">                        