{% load static %}       
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>   
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <script src="{% static 'Admin/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'Admin/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'Admin/plugins/node-waves/waves.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-countto/jquery.countTo.js' %}"></script>
    <script src="{% static 'Admin/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/morrisjs/morris.js' %}"></script>
    <script src="{% static 'Admin/plugins/chartjs/Chart.bundle.js' %}"></script>
    <script src="{% static 'Admin/plugins/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'Admin/plugins/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'Admin/plugins/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'Admin/plugins/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'Admin/plugins/flot-charts/jquery.flot.time.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-validation/jquery.validate.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'Admin/plugins/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'Admin/plugins/light-gallery/js/lightgallery-all.js' %}"></script>
    <script src="{% static 'Admin/js/pages/medias/image-gallery.js' %}"></script>
    <script src="{% static 'Admin/plugins/multi-select/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-spinner/js/jquery.spinner.js' %}"></script>
    <script src="{% static 'Admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'Admin/js/admin.js' %}"></script>
    <script src="{% static 'Admin/js/pages/index.js' %}"></script>
    <script src="{% static 'Admin/js/demo.js' %}"></script>
    <script src="{% static 'Admin/js/pages/examples/sign-up.js' %}"></script>
    <script src="{% static 'Admin/js/pages/tables/jquery-datatable.js' %}"></script>            
    
    