{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}} | AdminSI</title>
        <link rel="icon" type="image/x-icon" href="{% static 'WebProfile/images/logo.png' %}" >
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">        
        <link rel="stylesheet" href="{% static 'Admin/plugins/bootstrap/css/bootstrap.css' %}">   
        <link rel="stylesheet" href="{% static 'Admin/plugins/node-waves/waves.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/morrisjs/morris.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/css/themes/all-themes.css' %}">        
        <link rel="stylesheet" href="{% static 'Admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}">                
        <link rel="stylesheet" href="{% static 'Admin/plugins/light-gallery/css/lightgallery.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/multi-select/css/multi-select.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/jquery-spinner/css/bootstrap-spinner.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/bootstrap-select/css/bootstrap-select.css' %}">
        <link rel="stylesheet" href="{% static 'Admin/plugins/dropzone/dropzone.css' %}">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">        
        <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"> -->
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="{% static 'Admin/css/style.css' %}">          
        
    </head>
    <body class="theme-indigo">        
        {% include 'admin/components/header.html' %}                                
        {% include 'admin/components/sidebar.html' %} 
        <section class="content">
            <div class="container-fluid">
                <div class="block-header">
                    <h1>{{title}}</h1>                        
                </div>
                {% include 'admin/components/messages.html' %}
                {% block content %}
                    
                {% endblock %}
            </div>         
        </section>      
    </body>              
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>     
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>   
    <script>
        $(document).ready(function() {
            var table = $('#dt-ekskul').DataTable({
                "serverSide": true,
                "ajax": "/api/ekskul/?format=datatables",
                "columns": [            
                    {"data": "name"},
                    {
                        "data": "image", "aTargets": [0],
                        "render": function (data) {
                            return '<img height="100px" width="75%" src="' +data+ '" />';
                        }
                    },
                    {
                        "data": null,
                        "render": function ( row, type, set, data ){
                            if ( type === 'display' ) {
                                let myArray = [row['id']];  
                                for(let i = 0; i < myArray.length; i++){
                                    data ='<a class="btn btn-info btn-sm" href="/ekskul/edit/'+myArray[i]+'">Edit</a>\
                                       <a class="btn btn-danger btn-sm" onclick="window.confirm("sometext");" href="/ekskul/delete/'+myArray[i]+'">Delete</a>';                                                                                
                                    }                                
                            }
                            return data ;
                        }
                    }                  
                ]
            });
        });
        </script>
        <script>
            $(document).ready(function() {
                var table = $('#dt-fasilitas').DataTable({
                    "serverSide": true,
                    "ajax": "/api/fasilitas/?format=datatables",                    
                    "columns": [                  
                        {"data": "name"},
                        {"data": "jumlah"},
                        {
                            "data": "image", "aTargets": [0],
                            "render": function (data) {
                                return '<img height="100px" width="75%" src="' +data+ '" />';
                            }
                        },
                        {
                            "data": null,
                            "render": function ( row, type, set, data ){
                                if ( type === 'display' ) {
                                    let myArray = [row['id']];  
                                    for(let i = 0; i < myArray.length; i++){
                                        data ='<a class="btn btn-info btn-sm" href="/fasilitas/edit/'+myArray[i]+'">Edit</a>\
                                        <a class="btn btn-danger btn-sm" href="/fasilitas/delete/'+myArray[i]+'">Delete</a>';                                        
                                        }                                
                                }
                                return data;
                            }
                        }
                    ]
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                var table = $('#dt-prestasi').DataTable({
                    "serverSide": true,
                    "ajax": "/api/prestasi/?format=datatables",
                    "columns": [                  
                        {"data": "name"},
                        {"data": "peraih"},
                        {"data": "juara"},
                        {
                            "data": null,
                            "render": function ( row, type, set, data ){
                                if ( type === 'display' ) {
                                    let myArray = [row['id']];  
                                    for(let i = 0; i < myArray.length; i++){
                                        data ='<a class="btn btn-info btn-sm" href="/prestasi/edit/'+myArray[i]+'">Edit</a>\
                                        <a class="btn btn-danger btn-sm" href="/prestasi/delete/'+myArray[i]+'">Delete</a>';                                        
                                        }                                
                                }
                                return data;
                            }
                        }
                    ]
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                var table = $('#dt-events').DataTable({
                    "serverSide": true,
                    "ajax": "/api/events/?format=datatables",
                    "columns": [                  
                        {"data": "judul"},
                        // {"data": "deskripsi"},
                        {
                            "data": "image", "aTargets": [0],
                            "render": function (data) {
                                return '<img height="100px" width="75%" src="' +data+ '" />';
                            }
                        },
                        {
                            "data": null,
                            "render": function ( row, type, set, data ){
                                if ( type === 'display' ) {
                                    let myArray = [row['id']];  
                                    for(let i = 0; i < myArray.length; i++){
                                        data ='<a class="btn btn-info btn-sm" href="/events/edit/'+myArray[i]+'">Edit</a>\
                                        <a class="btn btn-danger btn-sm" href="/events/delete/'+myArray[i]+'">Delete</a>';                                        
                                        }                                
                                }
                                return data;
                            }
                        }
                    ]
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                var table = $('#dt-profile').DataTable({
                    "serverSide": true,
                    "ajax": "/api/profile/?format=datatables",
                    "columns": [                  
                        {"data": "name"},
                        {"data": "alamat"},
                        {"data": "contact"},
                        {
                            "data": "image", "aTargets": [0],
                            "render": function (data) {
                                return '<img height="100px" width="75%" src="' +data+ '" />';
                            }
                        },
                        {
                            "data": null,
                            "render": function ( row, type, set, data ){
                                if ( type === 'display' ) {
                                    let myArray = [row['id']];  
                                    for(let i = 0; i < myArray.length; i++){
                                        data ='<a class="btn btn-info btn-sm" href="/profile/edit/'+myArray[i]+'">Edit</a>';                                        
                                        }                                
                                }
                                return data;
                            }
                        }
                    ]
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                var table = $('#dt-gallery').DataTable({
                    "serverSide": true,
                    "ajax": "/api/gallery/?format=datatables",
                    "columns": [                  
                        {"data": "deskripsi"},
                        {
                            "data": "image", "aTargets": [0],
                            "render": function (data) {
                                return '<img height="100px" width="75%" src="' +data+ '" />';
                            }
                        },
                        {
                            "data": null,
                            "render": function ( row, type, set, data ){
                                if ( type === 'display' ) {
                                    let myArray = [row['id']];  
                                    for(let i = 0; i < myArray.length; i++){
                                        data ='<a class="btn btn-info btn-sm" href="/gallery/edit/'+myArray[i]+'">Edit</a>\
                                        <a class="btn btn-danger btn-sm" href="/gallery/delete/'+myArray[i]+'">Delete</a>';                                        
                                        }                                
                                }
                                return data;
                            }
                        }
                    ]
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                var table = $('#dt-comment').DataTable({
                    "serverSide": true,
                    "ajax": "/api/comment/?format=datatables",
                    "columns": [                  
                        {"data": "email"},
                        {"data": "comment"},
                        {
                            "data": null,
                            "render": function ( row, type, set, data ){
                                if ( type === 'display' ) {
                                    let myArray = [row['id']];  
                                    for(let i = 0; i < myArray.length; i++){
                                        data ='<a class="btn btn-danger btn-sm" href="/comments/delete/'+myArray[i]+'">Delete</a>';                                        
                                        }                                
                                }
                                return data;
                            }
                        }
                    ]
                });
            });
        </script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <script src="{% static 'Admin/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'Admin/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'Admin/plugins/node-waves/waves.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-countto/jquery.countTo.js' %}"></script>
    <script src="{% static 'Admin/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'Admin/plugins/morrisjs/morris.js' %}"></script>
    <script src="{% static 'Admin/plugins/chartjs/Chart.bundle.js' %}"></script>
    <script src="{% static 'Admin/plugins/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'Admin/plugins/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'Admin/plugins/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'Admin/plugins/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'Admin/plugins/flot-charts/jquery.flot.time.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-validation/jquery.validate.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'Admin/plugins/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'Admin/plugins/light-gallery/js/lightgallery-all.js' %}"></script>
    <script src="{% static 'Admin/js/pages/medias/image-gallery.js' %}"></script>
    <script src="{% static 'Admin/plugins/multi-select/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'Admin/plugins/jquery-spinner/js/jquery.spinner.js' %}"></script>
    <script src="{% static 'Admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'Admin/js/admin.js' %}"></script>
    <script src="{% static 'Admin/js/pages/index.js' %}"></script>
    <script src="{% static 'Admin/js/demo.js' %}"></script>
    <script src="{% static 'Admin/js/pages/examples/sign-up.js' %}"></script>
    <script src="{% static 'Admin/js/pages/tables/jquery-datatable.js' %}"></script>  
    
</html>