{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}} | AdminSI</title>
        {% include 'admin/components/__css_main.html' %}
    </head>
    <body class="signup-page">
        <div class="signup-box">
            <div class="logo">
                <a href="javascript:void(0);">{{title1}}<b>{{title2}}</b></a>
                <small>{{ description }}</small>
            </div>
            {% include 'admin/components/messages.html' %}
            {% block content %}

            {% endblock %}
        </div>
    </body>
    <script>
            $(document).ready(function() {
                setTimeout(function() {
                    $('.message').fadeOut('slow');
                }, 10000); 
        
                // delete message
                $('.del-msg').live('click',function(){
                    $('.del-msg').parent().attr('style', 'display:none;');
                })
            });
        </script>       
        {% include 'admin/components/__js_main.html' %}        
</html>