{% load static %}


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}} | AdminSI</title>        
        <link rel="icon" href="{% static 'WebProfile/images/logo.png' %}" type="image/x-icon">
        {% include 'admin/components/__css_main.html' %}
        {% include 'admin/components/__css_list.html' %}    
    </head>
    <body class="theme-indigo">
        {% include 'admin/components/header.html' %}        
        {% include 'admin/components/sidebar.html' %}                 
        <section class="content">
            <div class="container-fluid">
                <div class="block-header">
                    <h1>{{title}}</h1>         
                </div>
                {% include 'admin/components/messages.html' %}
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body"><br><br> 
                                {% block content %}
                                    
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </section>      
    </body>          
    <!-- <script type="text/javascript" src="{% static 'Admin/ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'Admin/ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script> -->
    <script>
        $(function() {
            $('input[type=file]').change(function(){
                var t = $(this).val();
                var labelText = 'File : ' + t.substr(12, t.length);
                $(this).prev('label').text(labelText);
            })
        });
    </script>
    {% include 'admin/components/__js_main.html' %}    
</html>