{% load static %}
<section>        
    <aside id="leftsidebar" class="sidebar">        
        <div class="user-info">
            <div class="image">
                <img src="{% static 'WebProfile/images/logo.png' %}" width="48" height="45" alt="User"/>
            </div>
            <div class="info-container">
                {% if user.is_authenticated %}                  
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;<b>{{ user.username }}</b></div>
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;<b>{{ user.email }}</b></div>
                    {% else %}
                {% endif %}
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">                        
                        <li>
                            <a href="/logout">
                                <i class="material-icons">input</i>Sign Out</a>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu">
            <ul class="list">
                <li class="header">Menu Sidebar</li>
                <li class="{{dashboard_status}}">
                    <a href="/dashboard">
                        <i class="material-icons">home</i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="{{category_status}}">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">widgets</i>
                        <span>Kategori</span>
                    </a>
                    <ul class="ml-menu">
                        <li class="{{fasilitas_status}}">
                            <a href="{% url 'backend:backend_fasilitas' %}">Fasilitas</a>
                        </li>
                        <li class="{{ekskul_status}}">
                            <a href="{% url 'backend:backend_ekskul' %}">Ekstrakulikuler</a>
                        </li>
                        <li class="{{prestasi_status}}">
                            <a href="/prestasi/">Prestasi</a>
                        </li>                            
                    </ul>
                </li>
                <li class="{{news_status}}">
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">layers</i>
                        <span>Berita</span>
                    </a>
                    <ul class="ml-menu">  
                        <li class="{{events_status}}">
                            <a href="/events/">Event</a>
                        </li>
                        <li class="{{profile_status}}">
                            <a href="/profile/">Profile</a>
                        </li>
                    </ul>
                </li>                
                <li class="{{gallery_status}}">
                    <a href="/gallery/">
                        <i class="material-icons">perm_media</i>
                        <span>Galeri</span>
                    </a>
                </li>
                <li class="{{comments_status}}">
                    <a href="/comments/">
                        <i class="material-icons">forum</i>
                        <span>Komentar</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</section>