{% extends 'user/components/main.html' %}
{% load static %}
{% block content %}
<div class="site-blocks-cover overlay" style="background-image: url('{{ MEDIA_URL }}{{ post.image }}');" data-aos="fade">
    <div class="container">
      <div class="row align-items-center justify-content-center">
            <div class="col-md-12 mt-lg-5 text-center">
              <h1>{{post.judul}}</h1>
              <p class="post-meta">{{post.created_at}}</p>              
            </div>          
      </div>
    </div>
  </div> 
<section class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 blog-content">
          <p class="lead">{{post.deskripsi}}</p>
          <div class="pt-5">                         
            </ul>
            <div class="comment-form-wrap pt-5">
                <form class="p-5 bg-light" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Nama Lengkap</label>
                        {{form.name}}
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        {{form.email}}
                    </div>
                    <div class="form-group">
                        <label for="message">Komentar</label>
                        {{form.comment}}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
          </div>

        </div>
        <div class="col-md-4 sidebar">
          <!-- <div class="sidebar-box">
            <div class="categories">
              <h3>Categories</h3>
              <li><a href="#">Beranda</a></li>
              <li><a href="#">Struktur</a></li>
              <li><a href="#">Berita</a></li>
              <li><a href="#">Fasilitas</a></li>
              <li><a href="#">Ekstrakurikuler</a></li>
              <li><a href="#">Contact</a></li>
            </div>
          </div> -->
          <div class="sidebar-box">
            <img src="{% static 'WebProfile/images/3.png' %}" alt="Image placeholder" class="img-fluid mb-4">
            <h3>Sejarah Sekolah</h3>
            <p>MI KH MOHAMMAD SAID adalah Madrasah kedua yang bertempat di desa dadapan wajak. 
                Pada tahun 2016 Madrasah ini mulai dibangun dengan 3 ruangan, dan diresmikan menjadi MI KH MOHAMMAD SAID dibawah naungan Yayasan Pendidikan KH MOHAMMAD SAID siswa pertama berjumlah 10 anak dan 4 guru.
                Dan pada tahun 2019 ini jumlah siswa 16 anak, dan jumlah keseluruhan 26 siswa.</p>                      
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}