{% extends 'admin/components/auth_main.html' %}
{% block content %}
    <div class="card">
        <div class="body">
            <form method="POST">
                {% csrf_token %} 
                <div class="msg">Sign in to start your session</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        {{form.username}}
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        {{form.password}}                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">                        
                    </div>
                    <div class="col-xs-4">
                        <a href="/dashboard">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}