{% extends 'admin/components/main.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}        
        <div class="row clearfix">
            <div class="col-6 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Judul</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="form-line">
                            {{form.judul}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-6 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Deskripsi</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="form-line">
                            {{form.deskripsi}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-6 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="email_address_2">Gambar</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="form-line">
                            <div class="custom-file">
                                {{form.image}}  
                                <br><br>
                                <button type="submit" class="btn btn-primary waves-effect">Submit</button>&nbsp;&nbsp;
                                <a href="/events">
                                    <button type="button" class="btn bg-indigo waves-effect">Back</button>
                                </a>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                     
    </form>
{% endblock %}