{% extends 'admin/components/__list.html' %}
{% block content %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header action-top">                        
                    <a href="/events/create/">
                        <button type="button" class="btn bg-blue btn-lg waves-effect" data-toggle="modal">Tambah</button>
                    </a>
                    <!-- <button type="button" class="btn bg-deep-orange btn-lg waves-effect" data-toggle="modal" data-target="#largeModal">Export</button> -->
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table id="dt-events" class="table table-striped table-bordered">                                    
                            <thead>
                                <tr>
                                    <th>Judul</th>
                                    <th style="width: 25%;">image</th>     
                                    <th>Action</th>                                      
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>    
                            Tambah Ekstrakulikuler
                        </h2>
                    </div>
                    <div class="body">
                        <form class="form-horizontal">
                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="email_address_2">Ekstrakulikuler</label>
                                </div>
                                <div class="col-lg-10 col-md-6 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="email_address_2" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    <label for="password_2">Jumlah :</label>
                                </div>
                                <div class="col-lg-10 col-md-6 col-sm-8 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="password_2" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row clearfix">
                                <div class="col-lg-offset-2">
                                    <button type="button" class="btn btn-primary m-t-15 waves-effect">Simpan</button>
                                    <button type="button" class="btn bg-indigo m-t-15 waves-effect" data-dismiss="modal">Kembali</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}