{% extends 'user/components/main.html' %}
{% load static %}
{%block content %}
    <div class="site-block-wrap" id="beranda">        
        <div class="owl-carousel with-dots">
            {% for data in gallerys|slice:":5" %}
                <div class="site-blocks-cover overlay overlay-2" style="background-image: url('{{ MEDIA_URL }}{{ data.image }}');" data-aos="fade" id="home-section">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-6 mt-lg-5 text-center">
                                {% for datain in profiles %}
                                    <h1 class="text-shadow">{{datain.name}}</h1>
                                {% endfor %}
                                <p class="mb-5 text-shadow">{{data.deskripsi}}</p>
                            </div>
                        </div>
                    </div>
                </div>   
            {% endfor %}  
        </div>           
    </div> 
    <section class="site-section" id="fasilitas-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title mb-3" style="margin-top: 10px;">Fasilitas </h2>
                    <hr style="width: 75%;">
                </div>
            </div>                       
            <div class="row">
                {% for data in fasilitass %}                 
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="h-entry">
                        <a><img src="{{ MEDIA_URL }}{{ data.image }}" style="height: 300px; width: 500px;" alt="Image" class="img-fluid"></a>
                        <h2 class="font-size-regular">{{data.name}}</h2>                        
                    </div> 
                </div>                
                {% endfor %}
            </div>
        </div>
    </section>    
{% endblock %}