{% load static %}  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Oswald:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'WebProfile/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'WebProfile/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'WebProfile/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'WebProfile/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'WebProfile/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'WebProfile/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'WebProfile/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'WebProfile/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'WebProfile/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'WebProfile/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'WebProfile/css/style.css' %}">

    