{% load static %}  
    <script src="{% static 'WebProfile/js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>    
    <script src="{% static 'WebProfile/js/jquery-ui.js' %}"></script>
    <script src="{% static 'WebProfile/js/popper.min.js' %}"></script>
    <script src="{% static 'WebProfile/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'WebProfile/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'WebProfile/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'WebProfile/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'WebProfile/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'WebProfile/js/aos.js' %}"></script>
    <script src="{% static 'WebProfile/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'WebProfile/js/jquery.sticky.js' %}"></script>

    <script src="{% static 'WebProfile/js/main.js' %}"></script>