{% load static %}
  <footer class="site-footer " id="kontak-section">
      <div class="container">        
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">Alamat</h2>
                {% for data in profiles %}
                  <p>{{data.alamat}}</p>
                {% endfor %}
              </div>
              <div class="col-md-3 mx-auto">
                <h2 class="footer-heading mb-4">Madrasah</h2>
                <ul class="list-unstyled">
                    <li><a href="#beranda">Beranda</a></li>
                    <li><a href="#struktur-section">Struktur</a></li>
                    <li><a href="#berita-section">Berita</a></li>
                    <li><a href="#fasilitas-section">Fasilitas</a></li>
                    <li><a href="#ekstra-section">Ekstrakulikuler</a></li>
                    <li><a href="#kontak-section">Kontak</a></li>                  
                </ul>
              </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <h2 class="footer-heading mb-4">Kontak</h2>
                {% for data in profiles %}
                  <p>Telp : {{data.contact}}</p>
                {% endfor %}
              </div>
            </div>   
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p class="copyright">
            {% for data in profiles %}
              {{data.name}}
            {% endfor %}
            <link rel="icon" type="image/x-icon" href="{% static 'WebProfile/images/logo.png' %}">
            </p>
            </div>
          </div>
          <div class="col-md-12">
              <p class="copyright" >
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
        </div>        
      </div>    
    </footer> 