{% load static %}
<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-xl-2">
          <h1 class="mb-0 site-logo m-0 p-0"><a href="/" class="mb-0"><img src="{% static 'WebProfile/images/3.png' %}" style="width: 60px;"></a></h1>          
        </div>
        {% if navbar %}
        <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="#beranda" class="nav-link">Beranda</a></li>
              <li><a href="#struktur-section" class="nav-link">Struktur</a></li>
              <li><a href="#berita-section" class="nav-link">Berita</a></li>
              <li><a href="/fasilitas/profile/#fasilitas-section" class="nav-link">Fasilitas</a></li>
              <li><a href="/ekskul/profile/#ekstra-section" class="nav-link">Ekstrakulikuler</a></li>
              <li><a href="#kontak-section" class="nav-link">Kontak</a></li>
            </ul>
          </nav>
        </div>
        {% endif %}
        {% if not navbar %}
        <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/#beranda" class="nav-link">Beranda</a></li>
                <li><a href="/#struktur-section" class="nav-link">Struktur</a></li>
                <li><a href="/#berita-section" class="nav-link">Berita</a></li>
                <li><a href="/fasilitas/profile/#fasilitas-section" class="nav-link">Fasilitas</a></li>
                <li><a href="/ekskul/profile/#ekstra-section" class="nav-link">Ekstrakulikuler</a></li>
                <li><a href="/#kontak-section" class="nav-link">Kontak</a></li>
              </ul>
            </nav>
          </div>
          {% endif %}
        <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white float-right"><span class="icon-menu h3"></span></a></div>
      </div>
    </div>
    
  </header>