{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>{{title}}</title>
        <link rel="icon" href="{% static 'WebProfile/images/logo.png' %}" type="image/x-icon">
        {% include 'user/components/__css_main.html' %}
    </head>
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        <div class="site-wrap">      
          <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
              <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
              </div>
            </div>
            <!-- <div class="site-mobile-menu-body"></div> -->
          </div>
            {% include 'user/components/header.html' %}
            {% block content %}

            {% endblock %}
            {% include 'user/components/footer.html' %}
        </div>        
        <a href="#top" class="gototop"><span class="icon-angle-double-up"></span></a> 
    </body>
    {% include 'user/components/__js_main.html' %}
</html>